// Typography
$small-heading: 24px;
$paragraph-font-size: 16px;

//Theme Colors
$primary-color: #FF8800;

//Background Colors
$background-color: #EEF2F6;
$background-color-Secondary:  rgb(221,230,237);

//Text Colors
$text-color: #000000;